.contact{

padding:140px 8%;

background:#050505;

}

.contactContainer{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

max-width:1300px;

margin:auto;

align-items:center;

}

.contactInfo span{

color:#d60000;

letter-spacing:3px;

font-weight:700;

text-transform:uppercase;

}

.contactInfo h2{

font-size:3rem;

margin:25px 0;

}

.contactInfo p{

line-height:2;

color:#bbb;

margin-bottom:40px;

}

.info{

display:flex;

flex-direction:column;

gap:25px;

margin-bottom:40px;

}

.info div{

display:flex;

align-items:center;

gap:20px;

}

.info svg{

font-size:1.5rem;

color:#d60000;

}

.socials{

display:flex;

gap:20px;

}

.socials a{

width:55px;

height:55px;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

background:#111;

transition:.3s;

font-size:1.3rem;

}

.socials a:hover{

background:#d60000;

transform:translateY(-5px);

}

.contactForm{

display:flex;

flex-direction:column;

gap:20px;

padding:50px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

}

.contactForm input,

.contactForm textarea{

background:#111;

border:none;

padding:18px;

color:white;

border-radius:12px;

outline:none;

font-size:1rem;

}

.contactForm textarea{

resize:none;

}

.contactForm button{

padding:18px;

border:none;

background:#d60000;

border-radius:50px;

font-size:1rem;

font-weight:700;

cursor:pointer;

transition:.35s;

color:white;

}

.contactForm button:hover{

background:#ff1c1c;

transform:translateY(-5px);

}

@media(max-width:900px){

.contactContainer{

grid-template-columns:1fr;

}

.contactInfo h2{

font-size:2.4rem;

}

.contactForm{

padding:35px;

}

}